<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>バトラー：命とひきかえに金銭を欲しがるのは強盗であるが、女は両方とも欲しがる。</string>
	<string>ムーア：結婚とは、ただ一人のために残りの人々をすべて断念せねばならぬ行為である。</string>
	<string>ポール・モラン：きみの人生に女が入ってくる。それは素晴らしいことだ。出ていってくれればさらに幸運だ。</string>
	<string>ショーペンハウアー：結婚するとは、彼の権利を半分にして、義務を二倍にすることである。</string>
	<string>スタール夫人：私は男でなくてよかった。なぜなら、女と結婚しなければならないからだ</string>
	<string>ヴィクトール・ユゴー：女は非常に完成された悪魔である</string>
	<string>シェイクスピア：男が誓うと、女は裏切るものだ</string>
	<string>アルマン・サラクルー：人間は判断力の欠如によって結婚し、忍耐力の欠如によって離婚し、記憶力の欠如によって再婚する</string>
	<string>アーサー・ゴッドフリー：結婚するとき、私は彼女を食べてしまいたいほど可愛いと思った。今思えば、あのとき食べてしまえばよかった。</string>
	<string>バーナード・ショウ：結婚をしばしば宝くじにたとえるが、それは誤りだ。宝くじなら当たることもあるのだから。</string>
</array>
</plist>
